body{
    margin: 0px;
}

.txt-grey{
    color: grey;
}

/*  */

.container{
    max-width: 1080px;
    margin: 0px auto;
}

.header{
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    background-size: 20%;
    height: 70px;
}

.logo{
    height: 50px;
    width: auto;
    padding: 10px 0;
}

h1{
    margin-bottom: 0px;
}

address{
    font-style: normal;
    font-size: 20px;
}

a:link,
a:visited{
    text-decoration: none;
    color: #3cb4e7;
}

time{
    font-size: 15px;
}
